<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<true/>
			<key>insuranceName</key>
			<string>交强险/车船税</string>
			<key>insuranceValue</key>
			<string></string>
			<key>notDutyFlag</key>
			<true/>
		</dict>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<true/>
			<key>insuranceName</key>
			<string>车辆损失险</string>
			<key>notDutyFlag</key>
			<true/>
			<key>insuranceValue</key>
			<string></string>
		</dict>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<true/>
			<key>insuranceName</key>
			<string>第三者责任险</string>
			<key>InsurancePrice</key>
			<string>50</string>
			<key>notDutyFlag</key>
			<true/>
			<key>insuranceValue</key>
			<string></string>
		</dict>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<false/>
			<key>insuranceName</key>
			<string>全车盗抢险</string>
			<key>insuranceValue</key>
			<string></string>
		</dict>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<true/>
			<key>insuranceName</key>
			<string>司机责任险</string>
			<key>InsurancePrice</key>
			<string>1</string>
			<key>notDutyFlag</key>
			<true/>
			<key>insuranceValue</key>
			<string></string>
		</dict>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<true/>
			<key>insuranceName</key>
			<string>乘客责任险</string>
			<key>InsurancePrice</key>
			<string>1</string>
			<key>notDutyFlag</key>
			<true/>
			<key>insuranceValue</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>state</key>
			<string>1</string>
			<key>isSelectedInsuranceFlag</key>
			<false/>
			<key>insuranceName</key>
			<string>玻璃破碎险</string>
			<key>insuranceValue</key>
			<string></string>
		</dict>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<false/>
			<key>insuranceName</key>
			<string>自燃损失险</string>
			<key>notDutyFlag</key>
			<false/>
			<key>insuranceValue</key>
			<string></string>
		</dict>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<false/>
			<key>insuranceName</key>
			<string>涉水险</string>
			<key>insuranceValue</key>
			<string></string>
		</dict>
		<dict>
			<key>isSelectedInsuranceFlag</key>
			<false/>
			<key>insuranceName</key>
			<string>指定专修厂</string>
			<key>insuranceValue</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
