<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>key</key>
			<string>车辆车牌</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>车架号码</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>品牌型号</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>key</key>
			<string>发动机号</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>key</key>
			<string>注册日期</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>交强险</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>商业险</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>key</key>
			<string>车主姓名</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>身份证号</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<false/>
		</dict>
		<dict>
			<key>key</key>
			<string>联系电话</string>
			<key>value</key>
			<string></string>
			<key>flag</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>key</key>
			<string>车主身份证</string>
			<key>flag</key>
			<false/>
			<key>image1</key>
			<string></string>
			<key>image2</key>
			<string></string>
			<key>isImage</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>key</key>
			<string>车主行驶证</string>
			<key>flag</key>
			<false/>
			<key>image1</key>
			<string></string>
			<key>image2</key>
			<string></string>
			<key>isImage</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
